{% extends 'music/base.html'  %}
{% block title %}
detail
{% endblock %}
{% block body %}
<!-- this is detail template -->
    <img src="{{album.album_logo}}" >

    <h1>{{album.album_title}}</h1>

    <h3>{{album.artist}}</h3>

    {% if error_message %}
    <p><strong>{{error_message}}</strong></p>
    {% endif %}

    <form action="{% url 'music:favorite' album.id %}" method="post">
        {% csrf_token %}
        {% for song in album.song_set.all %}
            <li>{{song.song_title}}</li>
            <input type="radio" id="song{{forloop.counter}}" name="song" value="{{song.id}}" >
            <label for="song{{forloop.counter}}">
                {{song.song_title}}
                {% if song.if_favorite %}
                    Liked
                {% endif %}
            </label><br>
        {% endfor %}
        <input type="submit" value="Favorite">
    </form>
{% endblock %}