{% extends 'music/base.html' %}

{% block title %}Add a new album{% endblock %}

{% block body %}


<form action=""  method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% include 'music/form-template.html' %}
    <div>
        <button type="submit">Submit</button>
    </div>

</form>
{% endblock %}