<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <!-- Loads the path to your static files -->
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'music/style.css' %}" />
</head>
<body>
<nav><h1 class="header">This is my commun header</h1>
    <a href="{% url 'music:album-add' %}">Add Album</a>
</nav>



{% block body %}
<!-- this is base template -->
{% endblock %}
</body>
</html>