{% extends 'music/base.html'  %}
{% block title %}
detail
{% endblock %}
{% block body %}
<!-- this is detail template -->
    <img src="{{album.album_logo.url}}" >

    <h1>{{album.album_title}}</h1>

    <h3>{{album.artist}}</h3>

    {% if error_message %}
    <p><strong>{{error_message}}</strong></p>
    {% endif %}
    <ul>
    {% for song in album.song_set.all %}
        <li>{{song.song_title}}</li>
    {% endfor %}
    </ul>
{% endblock %}