{% extends 'music/base.html'  %}
{% block title %}
home
{% endblock %}
{% block body %}
<!-- this is index template -->
    <h1>this is Home page</h1>
    {% if object_list %}
        <ul class="test">
            {% for album in object_list %}
            <li><a href="{% url 'music:detail' album.id %}">{{album.album_title}}</a></li>
            <li><img src="{{ album.album_logo.url }}"></li>
            <form action="{% url 'music:album-delete' album.id %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="album_id" value="{{album_id}}">
                <button type="submit">Delete</button>
            </form>
            {% endfor %}
        </ul>
    {% else %}
        <h3>You dont have any albums</h3>
    {% endif %}
{% endblock %}